.App {
  text-align: center;
  padding: 0 25%;

}
label{
  display: block !important;
  text-align: left;
}

/*input{
  display: inline !important;
  margin: 0 0 10px;
  color: #555;
  background-color: #fff;
  border-color: #ccc;
  border: 1px solid;
  width: 100%;
  max-width: 300px;
  font-size: 14px;
  padding: 6px 10px;
  box-sizing: border-box;
  outline: none;
  font-weight: 400;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset;
  height: 32px;
  line-height: 1.3;
}*/
.MuiPaper-root{
  background-color: transparent !important;
}
.MuiStepConnector-line {
  border-color: #fff !important;
}
section {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
}
.title{
  margin: 65px 0 20px;
}
#holder {
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding: 5px 10px;
}
#holder label {
  font-weight: 500;
  margin-bottom: 0 !important;
}
#holder input {
  border: none;
  width: 90%;
}
#holder input:focus {
  border: none !important;
  outline: none;
}
#holder select{
  border: none;
  padding: 0;
}
#holder i{
  float: right;
}
#input , #select {
  height: 100%;
  padding-bottom: -10px;
}
.next {
  color: white;
  background-color: #4c8bf5;
  width: 100%;
  max-width: 250px;
  border: 1px solid;
  padding: 5px 0;
  border-radius: 7px;
  margin-left: 10px;
}
.back{
  background-color: #f1ebeb;
  color: #c7c7c7;
  width: 100%;
  max-width: 100px;
  border: 1px solid;
  padding: 5px 0;
  border-radius: 7px;
}
div.form-group{
  text-align: left;
}
.red-border{
  border: 1px solid red !important;
}
.red-border label{
  color: red;
}
span {
  color: red;
  display: block;
  /*margin: -15px 0 5px;
  text-align: left;*/
}
img{
  width: 120px;
}
